.userPhoto {
    width: 70px;
    border-radius: 50%;
    margin: 5px;
}

.unfollowButton {
    border: solid 2px darkred;
    background-color: darkred;
    color: white;
    margin-left: 7px;
}

.followButton {
    border: solid 2px darkgreen;
    background-color: darkgreen;
    color: white;
    margin-left: 12px;
}

.unfollowButton:hover{
    border: solid 2px darkred;
    background-color: white;
    color: darkred;
}

.followButton:hover{
    border: solid 2px darkgreen;
    background-color: white;
    color: darkgreen;
}

.selectedPage {
    font-weight: bold;
}
